  .file 
  {
    border-bottom: solid 1px #000000;
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    align-items: center;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
  }
  .file:hover {
    background-color: #e2e2e2;
  }
  .file-img-list {
    justify-self: center;
    align-items: center;
    width: 40px; 
    height: 40px;
  }
  .file-data {
    grid-column-start: 5;
    justify-self: center;
  }
  .file-size {
    grid-column-start: 6;
    justify-self: center;
  }
  .file-button{
    display: none;
    cursor: pointer;
    border: none;
    background-color: #e2e2e2;
  }
  .delete-button-img,
  .download-button-img
  {
    width: 30px;
    height: 30px;
    
  }
  .file:hover .file-data{
    grid-column-start: 3;
  }

  .file:hover .file-size{
    grid-column-start: 4;
  }

  .file:hover .download-button{
    grid-column-start: 5;
    display: block;
  }

  .file:hover .delete-button{
    grid-column-start: 6;
    display: block;
  }

  .file-tiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: #e2e2e2;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s, transform 0.2s;
    width: 200px;
    height: 250px;
    position: relative;
}

.file-tiles:hover {
    background-color: #d3d3d3;
    transform: scale(1.05);
}

.file-img-tiles {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 10px;
}

.file-name-tiles {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    margin-bottom: 5px;
}

.file-tiles-buttons {
    display: none; 
    gap: 8px;
    margin-top: auto;
    background-color:#d3d3d3 ;
}

.file-tiles:hover .file-tiles-buttons {
    display: flex; 
}

.file-button-tiles {
    background-color: #d3d3d3;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.file-button-tiles:hover {
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.download-button-tiles .download-button-img,
.delete-button-tiles .delete-button-img {
    width: 16px;
    height: 16px;
}